body, h1, h2, h3, h4, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

p {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h6, h5 {
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 55px;
}

a {
  color: inherit;
}

body {
  transition: margin-left .5s;
}

.menu-items {
  display: inline-flex;
  float: right;
  padding: 20px;
}

.menu-items h2{
  padding-left: 70px;
}

.menu-items .active{
  border-bottom: 2px solid;
}

.header {
  height: 650px;
  background-size: 1300px 650px;
  background-repeat: no-repeat;
}

.header-color{
  height: 650px;
}

.header-back {
  background-image: url("../images/dott.png");
  height: 650px;
  background-size: 2px;
  background-repeat: repeat;
}

.header-back h1{
  width: 500px;
  color: white;
}

.header-text h2{
  border-bottom: 4px solid white;
  width: 200px;
  padding-top: 20px;
}

.header-text {
    padding: 100px;
}

.logo h1{
  border: 5px solid white;
  padding: 40px;
  width: 40px;
  margin: auto;
}

.logo {
text-align: center;
background-color: #DE0A0C;
width: 100%;
height: 70px;
}
.logo-back {
  padding: 20px;
text-align: center;
background-image: url("../images/dott.png");
width: 100%;
height: 70px;
}

.about {
  min-height: 650px;
  padding: 50px;
  margin: 30px;
}

.about .title h1 {
  text-align: center;
  font-size: 80px;
  padding: 30px;
  color: #145154;
}

.about .para {
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.title h1 {
  text-align: center;
  font-size: 80px;
  padding: 30px;
  color: #145154;
}

.how{
  height: 650px;
  background-color: #FFBD0C;
}

.how i{
  font-size: 150px;
}

.how-text{
  text-align: center;
  padding:20px;
}

.how-text p{
  font-size: 15px;
  padding: 10px;
}

.q-a {
  padding: 30px;
}

.q {
  font-size: 25px;
}

.a {
  font-size: 20px;
  padding-top: 10px;
}

.faq {
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.register {
  text-align: center;
  background-image: url("../images/header3.jpg");
  color: white;
  background-attachment: fixed;
  margin-top: 100px;
}

.register-back{
  background-color: #F417194D;
}

.register-dott{
  padding: 50px;
  background-image: url('../images/dott.png');
  background-repeat: repeat;
  background-size: 2px;
}

.register h1{
  font-size: 60px;
  padding: 20px;
}

input[type="submit"]{
  font-size: 30px;
  border: 2px solid white;
  width: 200px;
  margin: auto;
  background-color: transparent;
  padding: 10px;
}

input[type="submit"]:hover{
  background-color: white;
  color: #145154;
  border: 2px solid #145154;
  transition: 1s;
}

input[type="file"]{
  display: inline;
  font-size: 20px;
}

.register h2{
  font-size: 40px;
  border: none;
}

.register p{
  font-size: 30px;
}

.footer {
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #AA6050;
  padding: 10px;
}

.nav-bar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
background-color: #145154;
color: #ffe5c7;
}

.para-above {
  font-size: 24px;
}

.line {
  border-bottom: 3px solid #55181e;
  padding-top: 30px;
  padding-bottom: 30px;
}

input[type="text"] {
  background-color: transparent;

color: #fffcfc;

border-bottom: 2px solid white;

transition: 1s;

border-top: none;

border-left: none;

border-right: none;

font-style: bold;

width: 400px;

height: 30px;

padding: 20px;
margin: 20px;
}

.tab p{
  font-size: 24px;
  padding-bottom: 30px;
}

.tab li{
  font-size: 18px;
padding-bottom: 20px;
}

.tab ul{
  padding-left: 200px;
  padding-right: 200px;
}

.tab {
  padding: 20px;
}

.image {
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: 300px, 400px;
  border: 2px solid #145154;
  margin: auto;
  text-align: center;
}

.front {
  text-align: center;
}

.nav-bar h2{
  padding: 20px;
font-size: 3em;
}

.image-back {
  height: 300px;
  width: 300px;
  background-color: #14515499;
  margin: auto;
  text-align: center;
  display: none;
  transition: 1s;
}

.image-dott {
  height: 300px;
  width: 300px;
  background-image: url('../images/dott.png');
  background-repeat: none;
  background-size: 2px;
  margin: auto;
  text-align: center;
}

.image:hover > .image-back {
  display: flex;
}

.image-dott h1{
  color: #f8e7d7;
padding-top: 80px;
}

.info {
  background-color: #145154;
color: white;
font-size: 1.2em;
border-width: 5px;
border-style: double;
padding: 50px;
}

.title-small h2{
  text-align: center;
padding-bottom: 70px;
font-size: 5em;
color: #891a14;
}
